<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" 
  (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary">Click first</button>
      <app-serever-element  *ngFor="let serverelement of serverElements" [srvElement]="serverelement" [name]="serverelement.name">
        <p>
          <strong *ngIf="serverelement.type === 'server'" style="color: red">{{ serverelement.content }}</strong>
          <em *ngIf="serverelement.type === 'blueprint'">{{ serverelement.content }}</em>
        </p>
      </app-serever-element>
    </div>
  </div>
</div>
